<ion-content>
  <div class="flex-center">
    <ion-card class="card-body">
      <ion-card-header>
        <ion-card-title class="enterprise-name">Finance Tech</ion-card-title>
        <ion-card-title class="login">Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label class="Email" position="floating">Email</ion-label>
          <ion-input type="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="Senha" position="floating">Senha</ion-label>
          <ion-input type="Senha"></ion-input>
        </ion-item>
        <ion-button fill="clear" size="full" class="text-card-button">Esqueceu o Email/Senha?</ion-button>
        <ion-button color="sucess" size="full" class="login-button">Login</ion-button>
        <ion-button color="sucess" size="full" class="register-button">Cadastre-se</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
