.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.enterprise-name{
  color: #0c6ab3;
  text-align: center;
}
.login{
  color: black;
  text-align: center;
}
.Email{
  color: black;
}
.Senha{
  color: black;
}
.text-card-button{
  color: black;
  text-transform: initial;
}
.login-button{
  color: white;
  background-color: #0984e3;
}
.register-button{
  background-color: white;
  color: black;

}
.card-body{
  background-color: white;
}